/*general*/


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #FFE28F;
  color: #3e2723;
  line-height: 1.6;
}


/* header */

#menu {
  background-color:#E3910E;
  color:#FFECCF;
  text-align: center;
  padding: 40px 20px;
  border-bottom: 6px solid #806349;
}

#menu h1 {
  margin: 0;
  color:#FFE28F;
  font-size: 42px;

}

#menu p {
  max-width: 700px;
  margin: 15px auto 30px;
  font-size: 18px;
}


/* menu */

#menu nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  gap: 15px;
}

#menu nav a {
  display: block;
  padding: 12px 22px;

  background-color: #795548;
  color: white;

  text-decoration: none;
  font-weight: bold;

  border-radius: 8px;

  transition: 0.3s;
}

#menu nav a:hover {
  background-color: #d4a017;
  color: #3e2723;
}


/* main */

#historia {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}




#historia section {
  background-color: #fffdf7;

  padding: 35px;
  margin-bottom: 30px;

  border-radius: 15px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}

#historia section h2 {
  color: #6d4c41;
  font-size: 32px;

  border-bottom: 3px solid #d4a017;
  padding-bottom: 10px;
}

#historia section p {
  font-size: 17px;
}


/* texto importante */

strong {
  color: #6d4c41;
}

em {
  color: #a66a00;
}


/* cita */

blockquote {
  margin: 30px 0;
  padding: 20px 25px;

  background-color: #f5ead7;

  border-left: 5px solid #d4a017;
  border-radius: 8px;

  font-style: italic;
}

blockquote p {
  margin: 0;
}


/*abreviaciones */

abbr {
  color: #8d5a00;
  font-weight: bold;
  cursor: help;
}


/*galeria */

#galeria {
  background-color: #6d4c41;
  color: white;

  padding: 30px;
  margin-bottom: 30px;

  border-radius: 15px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#galeria h3 {
  margin-top: 0;
  color: #ffd54f;
  font-size: 28px;
}

#galeria a {
  display: inline-block;

  background-color: #d4a017;
  color: #3e2723;

  padding: 12px 20px;

  text-decoration: none;
  font-weight: bold;

  border-radius: 8px;

  transition: 0.3s;
}

#galeria a:hover {
  background-color: #ffd54f;
}


/*boton inicio"*/

#historia > a {
  display: block;

  width: fit-content;

  margin: 20px auto;
  padding: 12px 20px;

  background-color: #795548;
  color: white;

  text-decoration: none;
  font-weight: bold;

  border-radius: 8px;

  transition: 0.3s;
}

#historia > a:hover {
  background-color: #d4a017;
  color: #3e2723;
}


/* footer */

#pie {
  background-color: #3e2723;
  color: white;

  text-align: center;

  padding: 35px 20px;

  border-top: 6px solid #d4a017;
}

#pie h4 {
  margin-top: 0;

  color: #ffd54f;

  font-size: 25px;
}

#pie address {
  font-style: normal;
}

#pie a {
  color: #ffd54f;
  text-decoration: none;
}

#pie a:hover {
  text-decoration: underline;
}

#pie small {
  color: #d7ccc8;
}


